//背景图片设置
body {
    background-image: url(/images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 0.85;
}

//文章内容的透明度设置(无效，原因不明) 猜测 类名不对应
.content-wrap {
  //opacity: 1;
}

//侧边框的透明度设置(无效，原因不明)
.sidebar {
  // background-color: transparent;
  // opacity: 0.5;
}

//菜单栏的透明度设置(无效，原因不明)
.header-inner {
  //background: rgba(255,255,255,0.5);
}

// 搜索框 local-search 的透明度设置
.popup {
  // opacity: 1;
}